<section >
  <app-header />
    
  <div class="w-100">


    <!-- <button class="bg-blue-600 text-white p-2 rounded-r hover:bg-blue-700" (click)="searchHandler()">
      Search
    </button> -->
  </div>

  @if (errorMessage()){
    <p class="text-red-500 mb-4">{{ errorMessage() }}</p>
  }


  @if (weather()){
    <div class="bg-white shadow-md rounded p-6 w-full max-w-md">
      <h2 class="text-xl font-semibold mb-2">Weather in {{ weather().name }}</h2>
      <p><strong>Temp:</strong> {{ weather().main.temp }} °C</p>
      <p><strong>Condition:</strong> {{ weather().weather[0].description }}</p>
      <p class="mt-4"><strong>Outfit:</strong> {{ outfit() }}</p>
    </div>
  }
</section>